# Ignore Python compiled bytecode directories in any path
**/__pycache__/

# Ignore bulk local virtual environment files
venv/

# Ignore the backup files of .drawio
*.bkp

# in-memory temp database
*:memory