<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Price Trend</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <!-- Navigation bar -->
    <div class="bd-helper container-md my-3">
        <nav class="navbar rounded navbar-expand-md bg-light justify-content-center">
            <div class="container-fluid">
                <!-- Website name linking to homepage -->
                <a class="bd-helper navbar-brand" href="index.html">
                    <img src="img/logo.png" alt="logo" style="width:40px;" class="rounded-pill">
                    Price Trend
                </a>
                <!-- Collapse button to toggle mobile navbar -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation Menu -->
                <div class="bd-helper collapse navbar-collapse" id="collapNavbar">
                    <!-- Search bar-->
                    <form class="bd-helper d-flex w-75 m-auto" action="search.html" method="get">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <span class="bi bi-search"></span>
                        </button>
                    </form>
                    <!-- Navigation links -->
                    <ul class="bd-helper navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% block login_status %}{% endblock %}"
                                href="#"
                                data-bs-toggle="modal"
                                data-bs-target="#loginModal">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block upload_status %}{% endblock %}"
                                href="#"
                                data-bs-toggle="modal"
                                data-bs-target="#uploadModal">
                                Upload
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block share_status %}{% endblock %}"
                                href="#"
                                data-bs-toggle="modal"
                                data-bs-target="#shareModal">
                                Share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Main content area for inheritance-->
    <div class="bd-helper container-md my-3">
        <h3>This is a template-preview page</h3>
        <div>This is homepage for introduction</div>
        <ul>
            <li>The red outline are "border helper" for layout debugging, you can comment out CSS class to remove them</li>
            <li>
                The navigation bar above is inherited from templates/base.html
                <ul>
                    <li>Placeholder pages for index, Search, Login are now available.</li>
                </ul>
            </li>
            <li>This message is rendered by templates/index.html</li>
        </ul>
    </div>
    <!-- Render different modals using different params for templates/model.html -->
    <!-- id = loginModal, modal_title = "Log In" -->
    <div class="modal fade" id="loginModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal content can be dynamic here -->
                <div class="modal-header">
                    <h5 class="modal-title">Log In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- id = uploadModal, modal_title = "Upload" -->
    <div class="modal fade" id="uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal content can be dynamic here -->
                <div class="modal-header">
                    <h5 class="modal-title">Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="merchantSelect" class="form-label">Select a merchant</label>
                            <select class="form-select" id="merchantSelect" name="merchant">
                                <option value="" disabled selected hidden>Select a merchant</option>
                                <option value="merchant1">Coles</option>
                                <option value="merchant2">Woolworths</option>
                            </select>
                        </div>
                        <div class="mb-3 file-upload-container">
                            <label for="fileUpload" class="form-label">Drag & Drop your CSV file here or browse</label>
                            <input type="file" class="form-control" id="csvUpload" name="file">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- id = shareModal, modal_title = "Share" -->
    <div class="modal fade" id="shareModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal content can be dynamic here -->
                <div class="modal-header">
                    <h5 class="modal-title">Share</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            Share placeholder here.
                        </div>
                        <button type="submit" class="btn btn-primary">Share</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>