{% extends "base.html" %}

{% block import_CSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <div class="section-box" style="height: 100%;">
        <h2>Forecast Line Chart</h2>
        <p>Product: TimTam</p>
      <canvas id="forecast1"></canvas>
    </div>

    <script>
      // listen to the click event of the button with data-bs-target="#trendModal" 
        $(document).on('click', '.btn[data-bs-target="#trendModal"]', function() {
            const productId = $(this).data('product-id');  
            
            $.ajax({
                url: `/api/price_trend/${productId}`,
                method: 'GET',
                success: function(data) {
                    renderForecastChart({
                        targetId: 'forecast1',  
                        datasets: data,  
                        label: '7-Day Forecast',
                        borderColor: 'green'
                    });
                },
                error: function(error) {
                    console.error('Error fetching price trend data:', error);
                    alert('Failed to load price trend data. Please try again later.');
                }
            });
        });

    </script>

</body>
</html>

{% endblock %}