{% extends "base.html" %}

{% block content %}
    <div>This is homepage for introduction</div>
    <ul>
        <li>The red outline are "border helper" for layout debugging, you can comment out CSS class to remove them</li>
        <li>
            The navigation bar above is inherited from templates/base.html
            <ul>
                <li>Placeholder pages for index, Search, Login are now available.</li>
            </ul>
        </li>
        <li>This message is rendered by templates/index.html</li>
    </ul>
{% endblock %}