{% extends "modal.html" %}

{% block modal_content %}
    <div class="modal-header">
        <h5 class="modal-title">Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <form>
            <!-- Merchant dropdown menu -->
            <div class="mb-3">
                <select class="form-select" name="merchantName">
                </select>
            </div>
            <!-- File upload area -->
            <div class="mb-3 position-relative border rounded bg-light text-center py-5">
                <label for="fileUpload" class="form-label text-muted">Drop your CSV file here, or click to browse for it.</label>
                <input type="file" accept=".csv" class="form-control position-absolute top-0 start-0 w-100 h-100 opacity-0">
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}