{% set enable_modal_trend = True %}
{% extends "base.html" %}

{% block import_CSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}">
{% endblock %}

{% block import_JS %}
    <!-- Pass imageFolder URL to concatenate with product.image_url in product.js -->
    <script>const imageFolder = "{{ url_for('static', filename='img/products/') }}";</script>
    <script src="{{ url_for('static', filename='product.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row g-4" id="product-list">
        <!-- Insert product cards here -->
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-success rounded-pill px-4" onclick="loadMore()">Load more</button>
    </div>
{% endblock %}